XML/pru/XML/practice/learning_block_1/ex10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.w3school.com.cn"
xmlns="http://www.w3school.com.cn"
elementFormDefault="qualified">
  <xs:element name="meeting">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="place" type="xs:string"/>
        <xs:element name="date" type="xs:date"/>
        <xs:element name="partner" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>