XML/pru/XML/practice/learning_block_1/ex11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.w3school.com.cn"
xmlns="http://www.w3school.com.cn"
elementFormDefault="qualified">
  <xs:element name="form">
    <xs:complexType>
      <xs:all>
        <xs:element name="firstName" type="xs:string"/>
        <xs:element name="familyName" type="xs:string"/>
        <xs:element name="psnr" type="xs:positiveInteger"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>