XML/pru/XML/practice/learning_block_3/p1(solved)/ex13.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="p1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="p1"
           elementFormDefault="qualified">
  <xs:element name="form">
    <xs:complexType>
      <xs:all>
        <xs:element name="firstName" type="xs:string"/>
        <xs:element name="familyName" type="xs:string"/>
        <xs:element name="psnr" type="xs:positiveInteger"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>