XML/block1/ex10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:vsr:xml-werkzeuge:aufgabe2.1"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="urn:vsr:xml-werkzeuge:aufgabe2.1"
elementFormDefault="qualified">
  <xs:element name="meeting">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="place" type="xs:string"/>
        <xs:element name="date" type="xs:date"/>
        <xs:element name="partner" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

